.container-cart {
   grid-template-columns: 3fr 1fr;
   grid-gap: 2rem;
   grid-row-gap: 1.5em;
   display: grid;
   padding: 0 0 4em 0;
   width: 100%;
 }
 .container-item-payment {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 0 0 0;
 }
 .container-content{
    width: 80%;
 }
 .container-item-payment .fas {
   margin: 0 0 0 10px;
   color: rgba(0,0,0,0.4);
   cursor: pointer;
 }
 .container-item-payment button {
   background-color: transparent;
   border: none;
   outline: none;
 }
 .container-element {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border-bottom: 2px dotted #33b1ff;
 }
 .container-element h4 {
   margin: 0;
 }

 .container-sidebar{
   width: 100%;
   font-size: 14px;
 }

 a {
   text-decoration: none;
 }

 @media (min-width:320px) and (max-width:425px){
  .container-cart {
    display: block;
  }
  .container-cart h4{
    font-size: 15px;
  }
  .container-cart img {
    height: 155px;
  }
 }