.container-img {
   display: flex;
   align-items: center;
   margin-left: 25px;
}

.container-img img {
   width: 263px;
   border-radius: 30%;
}

.container-button {
   display: flex;
   height: 40px;
   margin: auto;
   margin-top: 31px;
}

.container-button button{
   border-radius: 20px;
   background-color: #33b1ff;
   border: none;
   padding: 13px;
}

.container-detail-item {
   box-shadow: 8px 14px 32px rgb(39 44 49 / 5%), 1px 3px 8px rgb(75 73 72 / 54%);
   margin-bottom: 20px;
}
.container-information{
   font-family: 'Zen Kaku Gothic New', sans-serif;
}

.container-information span{
   font-weight: 300;
}

.container-information__color {
   color: blue;
}

.information__style {
   padding: 20px;
}

@media (min-width:320px) and (max-width:425px) { 
   .container-img {
      display: flex;
      justify-content: center;
      margin-left: inherit ;
      margin-top: 20px;
   }
   .container-information {
      padding: 0 15px;
   }
} 