.container-orders{
   display: flex;
}

.img-cart {
   height: 200px;
}

.container-orders-info {
   margin: auto;
}

.container-orders-info h2 {
   font-size: 23px;
}

.link {
   background-color: #33b1ff;
   margin: 0 auto;
   border-radius: 12px;
   padding-left: 28%;
   height: 35px;
   padding-top: 5%;
   color: white;
}

@media (min-width: 320px) and (max-width:425px) {
   .container-orders-info h2 {
      font-size: 19px;
  }
  .link{
   padding-left: 10%;
   padding-top: 8%;
   width: 115px;
  }
}