.container-item{
   text-decoration: none;
   box-shadow: 8px 14px 32px rgb(39 44 49 / 5%), 1px 3px 8px rgb(75 73 72 / 54%);
   border-radius: 5px;
   margin: 0 0 20px 0;
   position: relative;
}

.container-input {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.container-item-information{
   padding: 10px;
   margin-bottom: 41px;
   color: black;
}
.container-item-information h2 {
   font-size: 18px;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   text-decoration: none;
}

.container-item-information p {
   font-size: 14px;
   font-weight: bolder;
   color: #F08626;
}

.container-item img {
   width: 100%;
   border-radius: 5px 5px 0 0;
   object-fit: contain;
}

.container-item button {
   background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
   width: 100%;
   padding: 10px;
   border-radius: 0px 0px 5px 5px;
   border: 0px;
   outline: 0;
   cursor: pointer;
   font-size: 14px;
   margin-top: -6px;
   font-weight: 300;
}

.container-item button:hover{
   opacity: 0.5;
}

.container-item button:hover {
   background-color: rgba(39,44,49,0.06);
 }

.input {
   margin-bottom: 10px;
   padding: 14px 42px;
   width: 200px;
   border-radius: 10px;
   border: 0.5px solid gray;
   font-size: 17px;
}

@media (min-width: 320px) {
   .container {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.5rem;
      grid-row-gap: 1.5em;
      display: grid ;
   }  
   .container-item img {
      width: 100%;
      border-radius: 5px 5px 0 0;
      object-fit: contain;
  }
}

@media (min-width: 768px) {
   .container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      grid-row-gap: 1.5em;
      display: grid ;
   }  
}
